table{
	font-size: 25px;
	text-align: center;
}

.result{
	font-size: 35px;
}

td{
	height: 60px;
	background: rgb(231,189,138);
	background: radial-gradient(circle, rgba(231,189,138,0.41498597730107667) 26%, rgba(233,178,148,1) 100%); 
}

.selected{
	background: rgb(134,134,134);
	background: radial-gradient(circle, rgba(134,134,134,0.19929970279127274) 26%, rgba(134,134,134,1) 100%); 
}

.filled{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,0.34803369072046175) 30%, rgba(63,94,251,1) 100%); 
}

